{% extends 'base.html.twig' %}
{% block title %}Camifut{% endblock %}
{% block body %}
    <main>
        <section class="hero-banner">
            <h1>Benvinguts a CamiFut</h1>
            <p>(Xicoteta descripció explicant el temps de duració del envio de camisetes)</p>
        </section>
        <section class="category-grid">
        {% for categoria in categorias %}
            <div class="category-card"><a href="{{path('categoria', {'nombre': categoria.nombre})}}">{{categoria.nombre}}</a></div> 
        {% endfor %}
        </section>
    </main>
{% endblock %}